html,body {
    height:100%;
    padding:0;
    margin: 0;
}

.container-fluid {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

@media all and (min-width:400px){
    .search-panel {
        position: absolute;
        top: 30px;
        left: 100px;
        z-index: 5;
        width: 300px;
    }
    .side-bar-button {
        position:absolute;
        top:70px;
        left: 100px;
        z-index: 5;
    }
}

@media all and (max-width:400px) {
    .search-panel {
        position: absolute;
        top: 30px;
        left: 40px;
        z-index: 5;
        width: 80%;
    }
    .side-bar-button {
        position:absolute;
        top:70px;
        left: 40px;
        z-index: 5;
    }
}

.list-element {    
    text-indent: 20px;
    line-height: 30px;
    display: block;
    cursor:pointer;
    background-color:  #cfd8dc;
    margin: 3px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.list-element:hover{
    text-indent: 20px;
    line-height: 30px;
    display: block;
    cursor:pointer;
    background-color: #b0bec5;
    margin: 3px;
    border-radius: 5px;
    color: black;  
    text-decoration: none;
    font-weight: bold;
}

.list-element-active {
    text-indent: 20px;
    line-height: 30px;
    display: block;
    cursor:pointer;
    background-color: #337AB7;
    margin: 3px;
    border-radius: 5px;
    color:white;  
    text-decoration: none;
    font-weight: bold;
}

.list-element-active:hover {
    text-indent: 20px;
    line-height: 30px;
    display: block;
    cursor:pointer;
    background-color: #286090;
    margin: 3px;
    border-radius: 5px;
    color:white;  
    text-decoration: none;
    font-weight: bold;
}

/*This will be the overlay for the popup menu, specifically for the saveRegion popup menu.*/
#overlay {
/*Fill the entire screen and do not allow user interaction with anything outside of this. */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#modal {
    position:absolute;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

#content {
    border-radius:4px;
    background:#fff;
    padding:20px;
}

#saveButton {
position: absolute;
background-color: light-green;
width:50px;
height: 30px;
top: 90%;
left: 10%;
}

#auth-button {
  left: 420px;
  top: 30px;
}

#cancelButton {
position: absolute;
background-color: light-red;
width: 50px;
height: 30px;
top: 90%;
right: 10%;
}

#deleteButton{
float:right;
background-color: red;
width: 25px;
height: 25px;
}
#map-container { 
    height: 100%;
}
